

/* This is the main part of the page */

body {
    background-color: #DFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}

/*  Main Navigation part of the web page */

a.nav:link, a.nav:visited {
	display: block;
	width: 120px;
	background-color: #0D678D;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px;
	color: #9FCA8A;
}

a.nav:active, a.nav:hover{
	color: #FFFFFF;
	background-color: #01919E;
}

.list1{
	list-style-type: none;
	margin: 5;
	padding: 5;
}

.list{
	float: left;
	text-align: center;

}

/* This is the navigation part of the page */

a:link, a:visited {
	text-decoration: none;
	color: #0188FE;
}

a:active, a:hover{
	color: #B8010A;
}


/* This is the paragraph text that is linked with an id */

p.test {
	width: 50em;
	margin-top: 20px;
	line-height: 130%;
	opacity: 0.7;
	text-indent: 5%;
}

/* This is a link to the font that I used for the header */

@font-face{
	font-family: 'HoboStd', sans-serif; src: url ("font/HoboStd");

}

/* This is the Header of the webpage */
h1{
	font-family: HoboStd, sans-serif;
	font-size: 600%;
	font-weight: bold;
	color: #FFFFFF;
	background-color:#148BAF;
	padding: 20px 10px 60px 10px;
	text-align: center;
	text-shadow: 2px 2px #025f80;
	height: 70px;
	border-style: solid;
    border-width: 5px;
    border-color: #137070;
    border-radius: 2px;
    box-shadow: 10px 10px 5px #769D95;
}

/* This is the Figure and Figcaption css */
figure{
	margin-left: 0px;
	background-color: #137070;
	height: 326px;
	width: 100%;
}

figcaption{
	color: #FFFFFF;
}

/* This is the css for the images */
#pic1{
	float: left;
	margin: auto 15 15 auto;
	padding: 0px 20px 10px 10px;
	width: 200px; 
	height: 200px;
}

#pic2{
	float: left;
	width: 400px;
	height: 286px;
	padding: 10px 10px 10px 10px;
}

#pic3{
	float: left; 
	margin: 10px 15px 15px 10px;
	width: 400px;
	height:266px;

}

div{
	height: 220px;
	width: 600px;

}

#13{
 height:306px;
 width: 100%;

}

ol{
	list-style-type: decimal;
}

ul{
	list-style-type: square;
	color: #00A181;
	padding: 0px 0px 15px 80px;
}

em{
	color: #01919E;
	display: inline;
}
